.main_right {
  position: absolute;
  right: 0;
  width: 59.8%;
  top: 3.6rem;
}

// main right top

.main_right_top {
  position: fixed;
  width: 59.8%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.main_top_right_icons_container {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  background-color: #f7fafc;
  border-bottom: 1px solid #e2e8f0;
  justify-content: space-between;
}
.student_discount_container {
  padding: 1rem;
  background-color: #fff;
}
.main_top_right_left_icons {
  display: flex;
}
.main_right_left_icon {
  width: 2.2rem;
  padding: 0.5rem;
}
.main_top_right_right_icons {
  display: flex;
  align-items: center;
  .arrow_down_right_icons {
    font-size: 0.7rem;
    transform: rotate(180deg);
    font-weight: 100;
    padding: 0 0.5rem;
    color: #4a5568;
  }
  .arrow_up_right_icons {
    font-size: 0.7rem;
    font-weight: 100;
    color: #4a5568;
  }
}
.left_icon {
  width: 100%;
}

//   student_discount

.student_discount {
  font-size: 1.2rem;
  line-height: 1.875rem;
}
.one48 {
  padding: 0 1.2rem;
  font-size: 0.9rem;
}
.active_btn {
  border-radius: 1.2rem;
  background-color: #9ae6b4;
  font-size: 0.9rem;
  font-weight: 400;
  color: #22543d;
  line-height: 1.25rem;
  border: none;
  cursor: pointer;
}

//main_right_bottom
.main_right_bottom {
  padding-top: 7.8rem;
  padding-bottom: 3.5rem;
  background-color: #edf2f7;
  height: 100vh;
  overflow-y: auto;
}
.main_right_bottom_container {
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.main_right_bottom_container_small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_right_bottom_img_container {
  display: flex;
  align-items: center;
}
.joe {
  font-weight: 600;
  color: #1a202c;
  line-height: 1.4rem;
}
.wrote {
  color: #718096;
  font-weight: 700;
  line-height: 1.4rem;
}
.time_yesterday {
  color: #a5b2c3;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-right: 1rem;
}
.para_main_right_bottom {
  padding-top: 1.5rem;
  color: #4a5568;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-align: justify;
}
